* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 0px auto;
}

header {
  text-align: center;
  margin: 10px 0;
}

.heatmap {
  background-color: white;
  color: black;
  border: 2px solid rgb(10, 11, 12);
  margin: 10px 0;
  padding: 7px;
  cursor: pointer;
}

.heatmap:hover {
  background-color: rgb(230, 231, 232);
}

.total-market-cap {
  text-align: center;
  margin-bottom: 10px;
}

.coins-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.coins-section .loading {
  margin: 0 auto;
}

.coin-item {
  margin: 2px;
  padding: 10px;
  background-color: rgb(10, 11, 12);
  color: rgb(220, 220, 220);
  width: 24%;
  min-width: 24%;
  min-height: 140px;
  text-align: center;
  border-radius: 10px;
}

.coin-item li {
  list-style: none;
  margin: 5px 0;
}

.coin-item-green {
  background-color: rgb(15, 49, 7);
}

.coin-item-red {
  background-color: rgb(85, 10, 16);
}

.coin-general-info {
  font-weight: 800;
}
