* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin-bottom: 75px;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  background-color: rgb(240, 222, 222);
}

.logo-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.logo-title img {
  height: 100px;
  width: 100px;;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
}

a {
  text-decoration: none;
  margin: 10px;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 10%;
  box-shadow: 1px 1px rgb(200, 200, 200);
  background-color: rgb(150, 200, 120);
  width: 20%;
}

a .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 225%;
  padding: 5px 0;
  color: rgb(10, 10, 10);
}

footer {
  color: rgb(255, 255, 255);
  background-color: rgb(120, 111, 111);
  font-size: x-large;
  height: 75px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;;
  margin-bottom: 0px;
  text-align: center;
  line-height: 75px;
}